<div class="products" *ngIf="student.length; else noStudent">
  <div >
    <div class="display">
      <div class="form-group">
        <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="filter" id="listSearch">
      </div>
     <h3>Students with</h3>
        <table>
          <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Class</th>
          <th>Balance</th>
        </tr>
          <tr *ngFor="let students of student |searchfilter:filter">
            <td>{{students.name |names:students.gender}} </td>
            <td>{{students.gender}}</td>
            <td>{{students.class | year}}</td>
            <td>{{students.balance | currency:'Ksh.':true}}</td>
          </tr>
        </table>
    </div>
  </div>
</div>

<ng-template #noStudent>
  <p>No Students</p>
</ng-template>
<!-- <router-outlet></router-outlet> -->

